.user {
    display: flex;
    align-items: center;
    justify-content: space-between;
    border: 1px solid #ccc;
    padding: 10px;
    margin: 10px 0;
}

.user button {
    background-color: #f0f0f0;
    border: 1px solid #ccc;
    cursor: pointer;
}

.user button:hover {
    background-color: #e0e0e0;
}

.user span {
    flex-grow: 1;
    text-align: center;
}

.user-details {
    background-color: #f0f0f0;
    border: 1px solid #ccc;
    padding: 10px;
    margin-top: 10px;
    width: 280px; /* Adjust width to match user div */
    margin-left: auto;
    margin-right: auto;
}

.user-details p {
    margin: 5px 0;
}